# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
*.Rdata
*.Rproj.user
*.Rproj

## garbage tex files
*.syncte*
*-concordance.tex
*.log
*.gz
.DS_Store
*.nav
*.toc
*.snm
*.vrb
*.aux

## ignoring reports generated
*week[1-9].pdf
*week[1-9][1-9].tex
*cache/
*figure/
